<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/eoz8hrk.css" />
    <title>Rebecca's Portfolio</title>
  </head>
  <body>
    <header>
      <div id="title-box">
        <h1 id="header-logo" class="header-text">Recipe Website!</h1>
        <a href="#">Y/N</a>
      </div>

      <nav id="navigation">
        <ul>
          <li><a href="/" class="header-text">Home</a></li>
          <li><a href="/projects" class="header-text">Recipes</a></li>
          <li><a href="/about" class="header-text">About</a></li>
          <li><a href="/contact" class="header-text">Contact</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>