<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! fonts }}
    <link rel="stylesheet" href="https://use.typekit.net/eoz8hrk.css" />
    <link rel="stylesheet" href="https://use.typekit.net/eoz8hrk.css" />
    {{! css files }}
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/recipes.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <title>The Recipe Journal</title>
  </head>
  <body>
    <header>
      <div id="title-box">
        <img
          id="header-logo"
          src="/img/logo.png"
          alt="The Recipe Journal Logo"
        />
        <a href="/login" class="profile-link">
          <a href="/login" id="profile-text-link">Log-in</a>
          <img
            src="img/profile.png"
            alt="profile picture"
            class="profile-icon"
          />
        </a>
      </div>

      <nav id="navigation">
        <ul>
          <li class="nav-li"><a
              href="/"
              class="header-text nav-link"
            >Home</a></li>
          <li class="nav-li"><a
              href="/recipes"
              class="header-text nav-link"
            >Recipes</a></li>
          <li class="nav-li"><a
              href="/about"
              class="header-text nav-link"
            >About</a></li>
          <li class="nav-li"><a
              href="/contact"
              class="header-text nav-link"
            >Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer></footer>
  </body>
</html>