<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/cv02.css" />
    <title>Rebecca's Portfolio</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>