<div id="about">
      <section class="contact-card scallop-box">
      <div id="contact-text">
      <h1 id="name">Rebecca Cuomo</h1>
      <h2>Graphic Design and Web Development Student</h2>
        </div>
          <img id="about-pic" src="img/rebecca.jpg" alt="a headshot of Rebecca" />
        </section>
        <div id="content">
        <div id="experience">
          <section>
            <h3>Education</h3>
            <ul>
              <li>
                2025 (currently enrolled) Jönköping University - Bachelor in New Media
                Design
              </li>
              <li>2023 Google UX Design Professional Certificate</li>
              <li>
                2022 California Institute of the Arts - Non-Credit
                Specialization in Graphic Design
              </li>
              <li>2018 High School Diploma in Applied Sciences</li>
            </ul>
          </section>
          <section>
            <h3>Work Experience</h3>
            <ul>
              <li>2019-2025 Freelance Graphic Designer</li>
              <li>2020-2025 (summers) Snack Bar Cook</li>
              <li>
                2019-2023 (winters) Barista, Waitress and Artisanal Baked Goods
                Packaging
              </li>
            </ul>
          </section>
          <section id="others">
            <h4 id="hobby-title">My Hobbies</h4>
            <p>
              I love anything artistic and artisanal. Painting, Sewing and
              Bookbinding are some of my current interests, but im ever evolving
              in the hobbies category
            </p>
          </section>
        </div>
        <div id="skills">
          <section>
            <h3 class="skill-title">Computer Skills</h3>
            <h4>Design Tools</h4>
            <div class="comp-skills">
              <p class="c-skill">Adobe Photoshop (Intermediate)</p>
              <p class="c-skill">Adobe Illustrator (Intermediate)</p>
              <p>Adobe Indesign (Intermediate)</p>
            </div>
            <h4>Web Development and UX/UI Design</h4>
            <div class="comp-skills">
              <p class="c-skill">HTML & CSS</p>
              <p class="c-skill">JavaScript</p>
              <p>Figma</p>
            </div>
            <h4>Others</h4>
            <p id="c-skill-other">
              Familiarity with the main OSs, proficient in Microsoft Office,
              ECDL Certificate, past experience with C++
            </p>
          </section>
          <section>
            <h3 class="skill-title">Languages</h3>
            <div>
              <p>Italian - Native</p>
              <p>English - Advanced (C1 Certificate)</p>
              <p>Swedish - Beginner</p>
            </div>
          </section>
        </div>
      </div>
    </div>
</div>
