<div id="" principal>
  <h1>Welcome on my Portfolio!</h1>
  <div class="" mytextcard>
    I am Rebecca Cuomo, graphic design and web development student at JU
    <br />
    This site presents my projects and skills as well as my CV :)
  </div>
</div>