<div id="" principal>
  <h1>WELCOME TO THE RECIPE JOURNAL!!</h1>
  <div class="" mytextcard>
    In this website you can find scrumptious recipes.
    <br />
    Scroll through them all and find your favourites, or add your own recipe and
    share it with everyone!
  </div>
</div>