<div id="principal">
  <h1>The Recipes</h1>
  <form action="/login" method="post">
    <label for="username">Username: </label>
    <input type="text" id="username" name="un" /><br />
    <label for="username">Password: </label>
    <input type="text" id="password" name="pw" /><br />
    <input type="submit" value="Login" />
  </form>
</div>