<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/cv02.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Liter&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
   
    <header>
      <h1>Curriculum Vitae</h1>
    </header>

    <main>
      
      <section id="contact-card">
      <div id="contact-text">
      <h1 id="name">Rebecca Cuomo</h1>
      <h2>Graphic Design and Web Development Student</h2>
          <section>
            <h3 class="small-gap-title">Contacts</h3>
            <div class="contact-info">
            <h4 class="cont-info-elem">E-mail:  </h4>
            <p class="cont-info-elem">cure23xv@student.ju.se</p></div>
            <div class="contact-info">
            <h4 class="cont-info-elem">Phone Number:  </h4>
            <p class="cont-info-elem">07 07 07 07 07</p></div>
          </section>
        </div>
          <img id="photo" src="img/Photoshop_3.jpg" alt="a professional headshot" />
        </section>
        <div id="content">
        <div id="experience">
          <section>
            <h3>Education</h3>
            <ul>
              <li>
                2025 (currently enrolled) Jönköping University - Bachelor in New Media
                Design
              </li>
              <li>2023 Google UX Design Professional Certificate</li>
              <li>
                2022 California Institute of the Arts - Non-Credit
                Specialization in Graphic Design
              </li>
              <li>2018 High School Diploma in Applied Sciences</li>
            </ul>
          </section>
          <section>
            <h3>Work Experience</h3>
            <ul>
              <li>2019-2025 Freelance Graphic Designer</li>
              <li>2020-2025 (summers) Snack Bar Cook</li>
              <li>
                2019-2023 (winters) Barista, Waitress and Artisanal Baked Goods
                Packaging
              </li>
            </ul>
          </section>
          <section id="others">
            <h4 id="hobby-title">My Hobbies</h4>
            <p>
              I love anything artistic and artisanal. Painting, Sewing and
              Bookbinding are some of my current interests, but im ever evolving
              in the hobbies category
            </p>
          </section>
        </div>
        <div id="skills">
          <section>
            <h3 class="skill-title">Computer Skills</h3>
            <h4>Design Tools</h4>
            <div class="comp-skills">
              <p class="c-skill">Adobe Photoshop (Intermediate)</p>
              <p class="c-skill">Adobe Illustrator (Intermediate)</p>
              <p>Adobe Indesign (Intermediate)</p>
            </div>
            <h4>Web Development and UX/UI Design</h4>
            <div class="comp-skills">
              <p class="c-skill">HTML & CSS</p>
              <p class="c-skill">JavaScript</p>
              <p>Figma</p>
            </div>
            <h4>Others</h4>
            <p id="c-skill-other">
              Familiarity with the main OSs, proficient in Microsoft Office,
              ECDL Certificate, past experience with C++
            </p>
          </section>
          <section>
            <h3 class="skill-title">Languages</h3>
            <div>
              <p>Italian - Native</p>
              <p>English - Advanced (C1 Certificate)</p>
              <p>Swedish - Beginner</p>
            </div>
          </section>
        </div>
      </div>
    </div>
    </main>
  </body>
</html>
