<div id="principal">
  <h1>The Recipes</h1>
  <div>
    <section class="recipes-container">
      {{#each recipes}}
        <a href="/{{title}}" class="notes-box">
          <figure>
            <img class="recipes-list-img" src={{img}} alt="food image" />
            <figcaption class="recipes-title">{{title}}</figcaption>
            <figcaption class="recipes-user">A recipe by {{uid}}</figcaption>
          </figure>
        </a>
      {{/each}}
    </section>
  </div>
</div>