* {
  /* colour variables */
  --black: #16130e;
  --maroon: #962b20;
  --orange: #ffcd87;
  --beige: #faebd7;
  --white: #ffffff;
}

.contact-card {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  /* margin: 5rem; */
  /*  margin-inline: 10rem; */
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}

#contact-text {
  position: absolute;
  left: 0%;
  transform: translateX(-0%);
  padding-left: 1rem;
}

#about-pic {
  width: 15%;
  margin: 2rem;
  object-fit: contain;
  align-self: center;
  justify-self: flex-end;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: var(--beige) 8pt solid;
}

#content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#experience {
  background-color: var(--beige);
  padding: 1rem;
  padding-bottom: 0;
}
#skills {
  background-color: var(--maroon);
  color: var(--white);
  padding: 1rem;
}

.comp-skills {
  display: flex;
  gap: 0.5rem;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  /* background-color: var(--orange); */
  background-color: rgba(255, 205, 135, 0.5);
}
.c-skill {
  border-right: var(--maroon) solid 1pt;
  padding-right: 0.5rem;
}

.skill-title {
  /* border-top: #526d4f solid 2pt; */
  border-top: var(--orange) solid 2pt;
  padding-top: 0.2rem;
  font-weight: 800;
  color: var(--orange);
}

#others {
  margin-top: 10rem;
  padding: 1rem;
}

#c-skill-other {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

#name {
  font-size: 3rem;
  margin-bottom: 0;
}

.contact-info {
  display: flex;
  align-items: center;
}

.cont-info-elem {
  margin: 0.2rem;
}

.small-gap-title {
  margin-bottom: 0.5rem;
}
