/*  MAIN STYLE + HOME PAGE STYLING */

/* Hey Eloise Regular
font-family: "hey-eloise", sans-serif;
font-weight: 400;
font-style: normal;
Hey Eloise Watercolor
font-family: "hey-eloise-watercolor", sans-serif;
font-weight: 400;

font-style: normal; */

/* ---- MAIN ---- */

* {
  /* colour variables */
  --black: #16130e;
  --maroon: #962b20;
  --orange: #ffcd87;
  --beige: #faebd7;
  --white: #ffffff;

  font-family: "pill-gothic-900mg", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* color: var(--black); */
}

body {
  background-color: var(--beige);
  margin: 0;
}

main {
  margin: 2%;
}

a {
  text-decoration: none;
  color: var(--black);
}

/* HEADER */

header {
  background-image: url(/img/gingham.png);
  background-size: 100%;
  margin: 0;
  padding: 2.5%;
  padding-bottom: 1%;
}

#title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

/* #header-logo {
  font-size: 3rem;
  font-weight: 900;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0%;
} */

#header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0%;
  height: 5rem;
}

.nav-li {
  list-style: none;
  display: inline-block;
  padding-inline: 5%;
}

.header-text {
  color: var(--white);
  font-family: "hey-eloise", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#navigation {
  background-color: var(--maroon);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2%;
  margin-inline: 20%;
  border-radius: 25px;
}

ul {
  margin: 0;
  padding: 0;
}

#profile-text-link {
  padding-right: 0.5rem;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link:hover {
  color: var(--orange);
}

/* BODY */

h1 {
  font-size: 3rem;
  font-family: "hey-eloise", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--maroon);
}

h2 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 4rem;
}

h3 {
  font-weight: 600;
  color: var(--maroon);
}

h4 {
  font-weight: 600;
  font-style: italic;
}

/* ____The following 6 lines of code come from: https://css-tricks.com/css-borders-using-masks/ _____ */
.scallop-box {
  -webkit-mask: var(--mask);
  mask: var(--mask);
  --mask: linear-gradient(0deg, #0000 50px, #000 0) 0 25px,
    radial-gradient(25px, #000 98%, #0000) 50%/46.25px 50px repeat space;
}

.notes-box {
  border-top: var(--beige) 1rem dotted;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--white);
}

/* FOOTER */

footer {
  background-color: var(--orange);
  height: 150px;
  margin-top: 2rem;
}

/* ---- /home ---- */

#home-img {
  width: 20%;
  aspect-ratio: 1 / 2;
  object-fit: cover;
}

.home {
  display: flex;
}

.home-text {
  padding-left: 1rem;
}

.home-div {
  padding: 2rem;
  margin-top: 3rem;
}

.home-about {
  background-color: var(--orange);
}

.home-more {
  border-top: var(--beige) 1rem dotted;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--white);
}

.section-title {
  color: var(--maroon);
  font-size: 1.2rem;
  margin: 0;
  margin-top: 1rem;
  padding-bottom: 2pt;
  border-bottom: var(--maroon) solid 1.5pt;
}

.home-anout-title {
  border-bottom: none;
}
