/* Hey Eloise Regular
font-family: "hey-eloise", sans-serif;
font-weight: 400;
font-style: normal;
Hey Eloise Watercolor
font-family: "hey-eloise-watercolor", sans-serif;
font-weight: 400;

font-style: normal; */

* {
  /* colour variables */
  --black: #16130e;
  --maroon: #962b20;
  --orange: #ffcd87;
  --white: #faebd7;

  font-family: "pill-gothic-900mg", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* color: var(--black); */
}

body {
  background-color: var(--white);
  margin: 0;
}

main {
  margin: 2%;
}

a {
  text-decoration: none;
  color: var(--black);
}

/* HEADER */

header {
  background-image: url(/img/gingham.png);
  background-size: 100%;
  margin: 0;
  padding: 2.5%;
  padding-bottom: 1%;
}

#title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

/* #header-logo {
  font-size: 3rem;
  font-weight: 900;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0%;
} */

#header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0%;
  height: 5rem;
}

.nav-li {
  list-style: none;
  display: inline-block;
  padding-inline: 5%;
}

.header-text {
  color: var(--white);
  font-family: "hey-eloise", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#navigation {
  background-color: var(--maroon);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2%;
  margin-inline: 20%;
  border-radius: 25px;
}

ul {
  margin: 0;
  padding: 0;
}

#profile-link {
  padding-left: 20vw;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link:hover {
  color: var(--orange);
}

/* BODY */

h1 {
  font-size: 3rem;
  font-family: "hey-eloise", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--maroon);
}

/* ____The following 6 lines of code come from: https://css-tricks.com/css-borders-using-masks/ _____ */
.scallop-box {
  -webkit-mask: var(--mask);
  mask: var(--mask);
  --mask: linear-gradient(0deg, #0000 50px, #000 0) 0 25px,
    radial-gradient(25px, #000 98%, #0000) 50%/46.25px 50px repeat space;
}

/* FOOTER */

footer {
  background-color: var(--orange);
  height: 150px;
  margin-top: 30%;
}
