/*  RECIPES PAGE + SINGLE RECIPE PAGE STYLING */

* {
  /* colour variables */
  --black: #16130e;
  --maroon: #962b20;
  --orange: #ffcd87;
  --beige: #faebd7;
  --white: #ffffff;
}

/* ---- RECIPES ---- */

.recipes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: var(--margin);
  gap: 2rem;
}

.recipes-list-img {
  width: 100%;
  aspect-ratio: 1 / 1; /* force a square */
  object-fit: cover;
  padding-top: 1rem;
  border-radius: 1rem;
}

.recipes-link {
  border-top: var(--beige) 1rem dotted;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--white);
}

.recipes-title {
  font-family: "hey-eloise", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: var(--maroon);
  margin-top: 1.5rem;
  border-top: var(--maroon) 2pt solid;
}

.recipes-user {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
